body {
    margin: 0 auto;
}

header {
    width: 100%;
    min-height: 100px;
    background-color: purple;
    color: aquamarine;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cart {
    margin-top: 30px;
    padding-left: 30px;
    background-color: #d5b3f5;
}

.header-goods,
.header-cart {
    font-size: 30px;
    color: blueviolet;
    text-align: center;
}

.content-goods {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.content-cart .good {
    display: flex;
}

.good {
    text-align: center;
}

.content-goods .good-name {
    font-size: 26px;
}